[
  {
    name: <<jsonStr .Name>>,
    tasks: [
      {
        name: "create app",
        dokku_app: {
          app: <<jsonStr .Name>>,
          state: "present",
        },
      },
    ],
  },
]
